@import models.ProductCart;
@import PakageResult.User;
@import java.util.List;
@import models.CategoryEntity;
@import models.CategoryProductEntity;
@import models.CartProducts;
@(message: String, user: User, categoriesM: List[CategoryEntity], productCategories: List[List[CategoryProductEntity]], cartProducts: CartProducts)
@main("Product | Cart") {
<header id="header"><!--header-->

		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="@routes.HomeController.index()"><img src="@routes.Assets.versioned("images/home/logo.png")" alt="" /></a>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								
								<li><a href="@routes.ProductController.cart()"><i class="fa fa-shopping-cart"></i> Cart</a></li>
								@if(user.getId() == 0) {
								<li><a href="@routes.AccountController.login()"><i class="fa fa-lock"></i> Login</a></li>
								} else {
								<li><a href="@routes.AccountController.infor()"><i class="fa fa-user"></i> @user.getFirstName()</a></li>
								<li><a href="@routes.AccountController.login()"><i class="fa fa-lock"></i> LogOut</a></li>
								}
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="@routes.HomeController.index()" class="active">Home</a></li>
								@for(category <- categoriesM){
									<li class="dropdown"><a href="@routes.HomeController.category(category.getId())">@category.getName()<i class="fa fa-angle-down"></i></a>
										<ul role="menu" class="sub-menu">
											@defining(productCategories.get(category.getNumberRow())) { cP =>
												@for(cp <- cP){
													<li><a href="@routes.HomeController.categoryProduct(category.getId(), cp.getId())">@cp.getName()</a></li>
												}
											}
										</ul>
										
									}
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<form action="@routes.SearchController.SearchForm()" method="POST">
								<input type="text" name="key" required placeholder="Search"/>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
		</header><!--/header-->
		<section id="cart_items">
		<div class="container">
			@if(message.isEmpty()) {
			} else {
				<p style="color: red">@message</p>
			}
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description">Desciption</td>
							<td class="color">Color</td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						@for(product <- cartProducts.getProducts()){
						<tr id = "@product.getId()">
							<td class="cart_product">
								<a href=""><img src=@routes.Assets.versioned(product.getImage()) alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">@product.getName()</a></h4>
								<p>Product ID: @product.getId()</p>
							</td>
							<td class="cart_color">
								
								<select id = "color@product.getId()" onchange="getval(this, @product.getId())">
									@for(colors <- product.getCounts()){
										<option value="@colors.getKey()">@colors.getValue()</option>
									}							  
								  
								</select>
							</td>
							<td class="cart_price">
								<p id = "price@product.getId()">@product.GetPriceByDefault()</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a id="add" class="cart_quantity_up" ONCLICK="add(@product.getId())"> + </a>
									<input id="countP@product.getId()" class="cart_quantity_input"  type="text" name="quantity" value="@product.getCount()" autocomplete="off" size="2" readonly>
									<a id="sub" class="cart_quantity_down" ONCLICK="sub(@product.getId())"> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p id = "total@product.getId()" class="cart_total_price">@product.GetTotal()</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" ONCLICK="deleteP(@product.getId())"><i class="fa fa-times"></i></a>
							</td>
						</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->
	
	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>What would you like to do next?</h3>
				
			</div>
			<div class="row">
				
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Products Total <span id = "counttotal">@cartProducts.GetProductsTotal()</span></li>
							<li>Prices Total <span id = "pricetotal">@cartProducts.GetPricesTotal()</span></li>
							<li>Shipping Cost <span>Free</span></li>
							<li >Total <span id = "carttotal">@cartProducts.GetPricesTotal()</span></li>
						</ul>
							<a class="btn btn-default check_out" href="@routes.ProductController.checkout()">Check Out</a>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->
	
	
	<script>
	function add(id)
	{
		var color = "color"+id;
		var e = document.getElementById(color);
		var key = e.options[e.selectedIndex].value;
		
		
		var total = '#total' + id;
		var name = 'countP' + id;
		var count = parseInt(document.getElementById(name).value);
		count = count +1;
		document.getElementById(name).value = count;
		console.log(count);
		
		var d = {'id': id};
		console.log(JSON.stringify(d));
		$.ajax({
	        type : 'POST',
	        url : 'http://localhost:9000/cart/add/'+key,
	        dataType: 'json',
	        contentType: 'application/json; charset=utf-8',
	        data : JSON.stringify(d),
	        success : function(data) {
	        	console.log(data);
	        	var price = data['total'];
	        	var priceName = '#total'+id;
				$(priceName).html(price);
				
				
				$('#counttotal').html(data['count']);
				$('#pricetotal').html(data['totalCart']);
				$('#carttotal').html(data['totalCart']);
	        },
	        error: function() { 
	        	alert('Failed!'); 
	        }
	    });
		
	}
	function sub(id)
	{
		var color = "color"+id;
		var e = document.getElementById(color);
		var key = e.options[e.selectedIndex].value;
		
		var name = 'countP' + id;
		var count = parseInt(document.getElementById(name).value);
		if(count > 1)
			count = count-1;
		document.getElementById(name).value = count;
		console.log(count);
		var d = {'id': id};
		console.log(JSON.stringify(d));
		$.ajax({
	        type : 'POST',
	        url : 'http://localhost:9000/cart/sub/' + key,
	        dataType: 'json',
	        contentType: 'application/json; charset=utf-8',
	        data : JSON.stringify(d),
	        success : function(data) {
	        	console.log(data);
	        	var price = data['total'];
	        	var priceName = '#total'+id;
				$(priceName).html(price);
				
				$('#counttotal').html(data['count']);
				$('#pricetotal').html(data['totalCart']);
				$('#carttotal').html(data['totalCart']);
	        },
	        error: function() { 
	        	alert('Failed!'); 
	        }
	    });
	}
	function deleteP(id)
	{
		var name = '#' + id;
		$(name).remove();
		var d = {'id': id};
		console.log(JSON.stringify(d));
		$.ajax({
	        type : 'POST',
	        url : 'http://localhost:9000/cart/delete',
	        dataType: 'json',
	        contentType: 'application/json; charset=utf-8',
	        data : JSON.stringify(d),
	        success : function(data) {
	        	$('#counttotal').html(data['count']);
				$('#pricetotal').html(data['totalCart']);
				$('#carttotal').html(data['totalCart']);
	        },
	        error: function() { 
	        	alert('Failed!'); 
	        }
	    });
	}
	
	function getval(sel, id) {
	    var price = '#price'+id;   
		$.ajax({
		        type : 'GET',
		        url : 'http://localhost:9000/getPriceByColor/'+sel.value + '/' + id,
		        dataType: 'json',
		        contentType: 'application/json; charset=utf-8',
		        data : {},
		        success : function(data) {
		        	console.log(data);
		        	$(price).html(data['price']);
		        	var priceName = '#total'+id;
					$(priceName).html(data['total']);
		        	$('#pricetotal').html(data['totalCart']);
					$('#carttotal').html(data['totalCart']);
		        },
		        error: function() { 
		        	alert('Failed!'); 
		        }
		    });
	}
	
	</script>
	
}