@import models.ProductCart;
@import java.util.List;
@import models.CartProducts;
@(message: String, cartProducts: CartProducts)
@main("Product | Cart") {
<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						@for(product <- cartProducts.getProducts()){
						<tr id = "@product.getId()">
							<td class="cart_product">
								<a href=""><img src=@routes.Assets.versioned(product.getImage()) alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">@product.getName()</a></h4>
								<p>Product ID: @product.getId()</p>
							</td>
							<td class="cart_price">
								<p>@product.PriceToString()</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a id="add" class="cart_quantity_up" ONCLICK="add(@product.getId())"> + </a>
									<input id="countP@product.getId()" class="cart_quantity_input"  type="text" name="quantity" value="@product.getCount()" autocomplete="off" size="2" readonly>
									<a id="sub" class="cart_quantity_down" ONCLICK="sub(@product.getId())"> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">@product.PriceToString()</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" ONCLICK="deleteP(@product.getId())"><i class="fa fa-times"></i></a>
							</td>
						</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->
	
	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>What would you like to do next?</h3>
				
			</div>
			<div class="row">
				
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Cart Sub Total <span>$59</span></li>
							<li>Eco Tax <span>$2</span></li>
							<li>Shipping Cost <span>Free</span></li>
							<li>Total <span>$61</span></li>
						</ul>
							<a class="btn btn-default check_out" href="">Check Out</a>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->
	
	
	<script>
	function add(id)
	{
		var name = 'countP' + id;
		var count = parseInt(document.getElementById(name).value);
		count = count +1;
		document.getElementById(name).value = count;
		console.log(count);
		
		var d = {'id': id};
		console.log(JSON.stringify(d));
		$.ajax({
	        type : 'POST',
	        url : 'http://localhost:9000/cart/add',
	        dataType: 'json',
	        contentType: 'application/json; charset=utf-8',
	        data : JSON.stringify(d),
	        success : function(data) {
	           
	        },
	        error: function() { 
	        	alert('Failed!'); 
	        }
	    });
		
	}
	function sub(id)
	{
		var name = 'countP' + id;
		var count = parseInt(document.getElementById(name).value);
		if(count > 1)
			count = count-1;
		document.getElementById(name).value = count;
		console.log(count);
		var d = {'id': id};
		console.log(JSON.stringify(d));
		$.ajax({
	        type : 'POST',
	        url : 'http://localhost:9000/cart/sub',
	        dataType: 'json',
	        contentType: 'application/json; charset=utf-8',
	        data : JSON.stringify(d),
	        success : function(data) {
	           
	        },
	        error: function() { 
	        	alert('Failed!'); 
	        }
	    });
	}
	function deleteP(id)
	{
		var name = '#' + id;
		$(name).remove();
		alert(name);
	}
	</script>
}