@import models.ProductCart;
@import PakageResult.User;
@import java.util.List;
@import models.CategoryEntity;
@import models.CategoryProductEntity;
@import models.CartProducts;

@(user: User, categoriesM: List[CategoryEntity], productCategories: List[List[CategoryProductEntity]], cartProducts: CartProducts)
@main("Product | Checkout") {
<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> websmartphone527@@domain.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="@routes.HomeController.index()"><img src="@routes.Assets.versioned("images/home/logo.png")" alt="" /></a>
						</div>
						<div  class="btn-group pull-left">
							<div class="btn-group">
								<select style="margin-left:10px; margin-top:10px">
								  <option value="volvo">USD</option>
								  <option value="saab">VND</option>
								</select>
								
							</div>
							
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								
								<li><a href="@routes.ProductController.cart()"><i class="fa fa-shopping-cart"></i> Cart</a></li>
								@if(user.getId() == 0) {
								<li><a href="@routes.AccountController.login()"><i class="fa fa-lock"></i> Login</a></li>
								} else {
								
								<li><a href="@routes.AccountController.infor()"><i class="fa fa-user"></i> @user.getFirstName()</a></li>
								<li><a href="@routes.AccountController.login()"><i class="fa fa-lock"></i> LogOut</a></li>
								}
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="@routes.HomeController.index()" class="active">Home</a></li>
								
									@for(category <- categoriesM){
									<li class="dropdown"><a href="@routes.HomeController.category(category.getId())">@category.getName()<i class="fa fa-angle-down"></i></a>
										<ul role="menu" class="sub-menu">
											@defining(productCategories.get(category.getNumberRow())) { cP =>
												@for(cp <- cP){
													<li><a href="@routes.HomeController.categoryProduct(category.getId(), cp.getId())">@cp.getName()</a></li>
												}
											}
										</ul>
										
									}
								
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
		</header><!--/header-->

<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Check out</li>
				</ol>
			</div><!--/breadcrums-->

			<div class="shopper-informations">
				<div class="row">
					<div class="col-sm-5 clearfix">
						<div class="bill-to">
							<p>Address Shipping To</p>
							<div class="form-one">
								<form>
								<input id="first" name="first" type="text" placeholder="First Name" required>
								<input id="last" type="text" placeholder="Last Name" required>
								<input id="phone" type="text" placeholder="Phone" required>
								<input id="street" type="text" placeholder="Address" required>
								<input id="city" type="text" placeholder="City" required>
								
								<span>
										<input id="edit" type="checkbox" onchange="Edit(@user.getId())" >
										Use Address of User<br>
								</span>
								
								</form>
								
							</div>
							
						</div>
					</div>
					<div class="col-sm-4">
						<div class="order-message">
							<p>Payment Method</p>
								<form>
									<select id="methodpay">
										<option selected>PayPal</option>
										<option>Credit Card</option>
									</select>
									
								</form>
								<button id="continue"  type="submit" ONCLICK="continueP()" class="btn btn-default" >Continue</button>
						</div>		
					</div>					
				</div>
			</div>
			<div class="review-payment">
				<h2>Review & Payment</h2>
			</div>

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						@for(product <- cartProducts.getProducts()){
						<tr id = "@product.getId()">
							<td class="cart_product">
								<a href=""><img src=@routes.Assets.versioned(product.getImage()) alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">@product.getName()</a></h4>
								<p>Product ID: @product.getId()</p>
							</td>
							<td class="cart_price">
								<p id = "price@product.getId()">@product.PriceToString()</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									
									<input id="countP@product.getId()" class="cart_quantity_input"  type="text" name="quantity" value="@product.getCount()" autocomplete="off" size="2" readonly>
									
								</div>
							</td>
							<td class="cart_total">
								<p id = "total@product.getId()" class="cart_total_price">@product.GetTotal()</p>
							</td>
							<td class="cart_delete">
								
							</td>
						</tr>
						}
						<tr>
							<td colspan="4">&nbsp;</td>
							<td colspan="2">
								<table class="table table-condensed total-result">
									<tr>
										<td>Count Products</td>
										<td id="counttotal">@cartProducts.GetProductsTotal()</td>
									</tr>
									<tr>
										<td>Total </td>
										<td id = "pricetotal">@cartProducts.GetPricesTotal()</td>
									</tr>
									<tr class="shipping-cost">
										<td>Shipping Cost</td>
										<td>Free</td>										
									</tr>
									<tr>
										<td>Total Cart</td>
										<td><span id ="carttotal">@cartProducts.GetPricesTotal()</span></td>
									</tr>
								</table>
								<div id = "paypal" style="display:none;">
								<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="POST">
								
								  @for(product <- cartProducts.getProducts()){
								  <input type="hidden" name="item_number_@cartProducts.GetRowProduct(product)" value="@product.getId()" />
								  <input type="hidden" name="item_name_@cartProducts.GetRowProduct(product)" value="@product.getName()" />
								  <input type="hidden" name="quantity_@cartProducts.GetRowProduct(product)" value="@product.getCount()" />
								  <input type="hidden" name="amount_@cartProducts.GetRowProduct(product)" value="@product.GetPriceUS()" />
								  
								  }
								  <input type="hidden" name="cmd" value="_cart" />
								  <input type="hidden" name="business" value="shoper_@@gmail.com" />
								  <input type="hidden" name="return" value="http://localhost:9000/checkout/success" />
								  <input type="hidden" name="cancel" value="http://localhost:9000/checkout/fail" />
								  <input type="hidden" name="upload" value="1" />
								  <input type="image" src="http://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" />
								</form>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
	</section> <!--/#cart_items-->
	
	<script>
	
	function Edit(id)
	{
		if(edit.checked){
			
			$.ajax({
		        type : 'GET',
		        url : 'http://localhost:9001/address/'+ id,
		        dataType: 'json',
		        contentType: 'application/json; charset=utf-8',
		        data : '',
		        success : function(data) {
		        	
		        	$('#first').val(data['firstName']);
		        	$('#last').val(data['lastName']);
		        	$('#phone').val(data['phone']);
		        	$('#street').val(data['street']);
		        	$('#city').val(data['city']);
		        },
		        error: function() { 
		        	alert('Did not connect to Server!'); 
		        }
		    });
			
		}else{
			
			$('#first').val("");
        	$('#last').val("");
        	$('#phone').val("");
        	$('#street').val("");
        	$('#city').val("");
		}
	}
	function continueP()
	{
		
		var message = "";
		var tag = 1;
		if(document.getElementById('first').value == "")
		{
			tag = 0;
			message = "Please input FistName!";
		}else{
			if(document.getElementById('last').value == ""){
				tag = 0;
				message = "Please input LastName!";
			}else{
				if(document.getElementById('phone').value == ""){
					tag = 0;
					message = "Please input Phone!";
				}else{
					if(document.getElementById('street').value == ""){
						tag = 0;
						message = "Please input Address!";
					}else{
						if(document.getElementById('city').value == ""){
							tag = 0;
							message = "Please input City!";
						}else{
							var check=0;
							if(edit.checked)
							{
								check=1;
							}
							var first = document.getElementById('first').value;
							var lasts = document.getElementById('last').value;
							var phone = document.getElementById('phone').value;
							//var street = $('#street').val();
							var street = document.getElementById('street').value;
							//street = street.replace("/", "-");
							var city = document.getElementById('city').value;
							var json = {'first': first, 'last': lasts, 'phone': phone, 'street': street, 'city': city};
							//console.log(json);
							$.ajax({
						        type : 'GET',
						        url : 'http://localhost:9000/cart/infor/'+first+'/'+lasts+'/'+phone+'/'+street+'/'+city+'/'+check,
						        dataType: 'json',
						        contentType: 'application/json; charset=utf-8',
						        data : {},
						        success : function(res) {
						        	console.log(res);
						        	$('#first').prop('disabled', 'disabled');
									$('#last').prop('disabled', 'disabled');
									$('#phone').prop('disabled', 'disabled');
									$('#street').prop('disabled', 'disabled');
									$('#city').prop('disabled', 'disabled');
									$('#methodpay').prop('disabled', 'disabled');
									document.getElementById('continue').style.display = 'none';
						        },
						        error: function() { 
						        	alert('Failed!'); 
						        }
						    });
							
							
						}
					}
				}
			}
		}
		if(tag==0)
		{
			alert(message);
		}else{
			document.getElementById('paypal').style.display = 'block';
		}
		
		
	}
	</script>
}