@import models.ProductCart;
@import PakageResult.User;
@import java.util.List;
@import models.CategoryEntity;
@import models.CategoryProductEntity;
@import models.CartProducts;

@(user: User, categoriesM: List[CategoryEntity], productCategories: List[List[CategoryProductEntity]], cartProducts: CartProducts)
@main("Product | Checkout") {
<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Check out</li>
				</ol>
			</div><!--/breadcrums-->

			<div class="step-one">
				<h2 class="heading">Step</h2>
			</div>


			<div class="shopper-informations">
				<div class="row">
					<div class="col-sm-5 clearfix">
						<div class="bill-to">
							<p>Address Shipping To</p>
							<div class="form-one">
								<form>
								<input id="first" type="text" placeholder="First Name" required>
								<input id="last" type="text" placeholder="Last Name" required>
								<input id="phone" type="text" placeholder="Phone" required>
								<input id="street" type="text" placeholder="Address" required>
								<input id="city" type="text" placeholder="City" required>
								
								<span>
										<input id="edit" type="checkbox" onchange="Edit(@user.getId())" >
										Use Address of User<br>
										</span>
								</form>
							</div>
							
						</div>
					</div>
					<div class="col-sm-4">
						<div class="order-message">
							<p>Payment Method</p>
								<form>
									<select>
										<option selected>PayPal</option>
										<option>Credit Card</option>
									</select>
								</form>
						</div>		
					</div>					
				</div>
			</div>
			<div class="review-payment">
				<h2>Review & Payment</h2>
			</div>

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						@for(product <- cartProducts.getProducts()){
						<tr id = "@product.getId()">
							<td class="cart_product">
								<a href=""><img src=@routes.Assets.versioned(product.getImage()) alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">@product.getName()</a></h4>
								<p>Product ID: @product.getId()</p>
							</td>
							<td class="cart_price">
								<p id = "price@product.getId()">@product.PriceToString()</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a id="add" class="cart_quantity_up" ONCLICK="add(@product.getId())"> + </a>
									<input id="countP@product.getId()" class="cart_quantity_input"  type="text" name="quantity" value="@product.getCount()" autocomplete="off" size="2" readonly>
									<a id="sub" class="cart_quantity_down" ONCLICK="sub(@product.getId())"> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p id = "total@product.getId()" class="cart_total_price">@product.GetTotal()</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" ONCLICK="deleteP(@product.getId())"><i class="fa fa-times"></i></a>
							</td>
						</tr>
						}
						<tr>
							<td colspan="4">&nbsp;</td>
							<td colspan="2">
								<table class="table table-condensed total-result">
									<tr>
										<td>Count Products</td>
										<td id="counttotal">@cartProducts.GetProductsTotal()</td>
									</tr>
									<tr>
										<td>Total </td>
										<td id = "pricetotal">@cartProducts.GetPricesTotal()</td>
									</tr>
									<tr class="shipping-cost">
										<td>Shipping Cost</td>
										<td>Free</td>										
									</tr>
									<tr>
										<td>Total Cart</td>
										<td><span id ="carttotal">@cartProducts.GetPricesTotal()</span></td>
									</tr>
								</table>
								<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="POST">
								
								  @for(product <- cartProducts.getProducts()){
								  <input type="hidden" name="item_number_@cartProducts.GetRowProduct(product)" value="@product.getId()" />
								  <input type="hidden" name="item_name_@cartProducts.GetRowProduct(product)" value="@product.getName()" />
								  <input type="hidden" name="quantity_@cartProducts.GetRowProduct(product)" value="@product.getCount()" />
								  <input type="hidden" name="amount_@cartProducts.GetRowProduct(product)" value="@product.GetPriceUS()" />
								  
								  }
								  <input type="hidden" name="cmd" value="_cart" />
								  <input type="hidden" name="business" value="shoper_@@gmail.com" />
								  <input type="hidden" name="return" value="http://localhost:9000/checkout/success" />
								  <input type="hidden" name="cancel" value="http://localhost:9000/checkout/fail" />
								  <input type="hidden" name="upload" value="1" />
								  <input type="image" src="http://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" />
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
	</section> <!--/#cart_items-->
	
	<script>
	function add(id)
	{
		var total = '#total' + id;
		var name = 'countP' + id;
		var count = parseInt(document.getElementById(name).value);
		count = count +1;
		document.getElementById(name).value = count;
		console.log(count);
		
		var d = {'id': id};
		console.log(JSON.stringify(d));
		$.ajax({
	        type : 'POST',
	        url : 'http://localhost:9000/cart/add',
	        dataType: 'json',
	        contentType: 'application/json; charset=utf-8',
	        data : JSON.stringify(d),
	        success : function(data) {
	        	console.log(data);
	        	var price = data['total'];
	        	var priceName = '#total'+id;
				$(priceName).html(price);
				
				
				$('#counttotal').html(data['count']);
				$('#pricetotal').html(data['totalCart']);
				$('#carttotal').html(data['totalCart']);
	        },
	        error: function() { 
	        	alert('Failed!'); 
	        }
	    });
		
	}
	function sub(id)
	{
		var name = 'countP' + id;
		var count = parseInt(document.getElementById(name).value);
		if(count > 1)
			count = count-1;
		document.getElementById(name).value = count;
		console.log(count);
		var d = {'id': id};
		console.log(JSON.stringify(d));
		$.ajax({
	        type : 'POST',
	        url : 'http://localhost:9000/cart/sub',
	        dataType: 'json',
	        contentType: 'application/json; charset=utf-8',
	        data : JSON.stringify(d),
	        success : function(data) {
	        	console.log(data);
	        	var price = data['total'];
	        	var priceName = '#total'+id;
				$(priceName).html(price);
				
				$('#counttotal').html(data['count']);
				$('#pricetotal').html(data['totalCart']);
				$('#carttotal').html(data['totalCart']);
	        },
	        error: function() { 
	        	alert('Failed!'); 
	        }
	    });
	}
	function deleteP(id)
	{
		var name = '#' + id;
		$(name).remove();
		var d = {'id': id};
		console.log(JSON.stringify(d));
		$.ajax({
	        type : 'POST',
	        url : 'http://localhost:9000/cart/delete',
	        dataType: 'json',
	        contentType: 'application/json; charset=utf-8',
	        data : JSON.stringify(d),
	        success : function(data) {
	        	$('#counttotal').html(data['count']);
				$('#pricetotal').html(data['totalCart']);
				$('#carttotal').html(data['totalCart']);
	        },
	        error: function() { 
	        	alert('Failed!'); 
	        }
	    });
	}
	
	function Edit(id)
	{
		if(edit.checked){
			
			$.ajax({
		        type : 'GET',
		        url : 'http://localhost:9001/address/'+ id,
		        dataType: 'json',
		        contentType: 'application/json; charset=utf-8',
		        data : '',
		        success : function(data) {
		        	
		        	$('#first').val(data['firstName']);
		        	$('#last').val(data['lastName']);
		        	$('#phone').val(data['phone']);
		        	$('#street').val(data['street']);
		        	$('#city').val(data['city']);
		        },
		        error: function() { 
		        	alert('Failed!'); 
		        }
		    });
			
		}else{
			
			$('#first').val("");
        	$('#last').val("");
        	$('#phone').val("");
        	$('#street').val("");
        	$('#city').val("");
		}
	}
	</script>
}