@import PakageResult.User; 
@import models.CategoryEntity; 
@import models.CategoryProductEntity; 
@import java.util.List;
@import models.ProductEntity;
@import entities.ProductInforEntity;
@import models.ProductImageShow;
@import entities.ProductRelateEntity;
@import models.ProductRelateShow;
@(message: String, user: User, categories: List[CategoryEntity], productCategories:List[List[CategoryProductEntity]], product: ProductEntity, infors: List[ProductInforEntity], images: List[ProductImageShow], shows: List[ProductRelateShow])

@main("Product | Detail") {
<header id="header">
	<!--header-->
	<link rel="stylesheet" href="http://www.compareninja.com/template/skins/Sky/skin.css" type="text/css">


	<div class="header-middle">
		<!--header-middle-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="logo pull-left">
						<a href="@routes.HomeController.index()"><img
							src="@routes.Assets.versioned("images/home/logo.png")" alt="" /></a>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="shop-menu pull-right">
						<ul class="nav navbar-nav">

							<li><a href="@routes.ProductController.cart()"><i
									class="fa fa-shopping-cart"></i> Cart</a></li> @if(user.getId() == 0) {
							<li><a href="@routes.AccountController.login()"><i
									class="fa fa-lock"></i> Login</a></li> } else {

							<li><a href="@routes.AccountController.infor()"><i
									class="fa fa-user"></i> @user.getFirstName()</a></li>
							<li><a href="@routes.AccountController.login()"><i
									class="fa fa-lock"></i> LogOut</a></li> }

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/header-middle-->

	<div class="header-bottom">
		<!--header-bottom-->
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
					</div>
					<div class="mainmenu pull-left">
						<ul class="nav navbar-nav collapse navbar-collapse">
							<li><a href="@routes.HomeController.index()" class="active">Home</a></li>

							@for(category <- categories){
							<li class="dropdown"><a
								href="@routes.HomeController.category(category.getId())">@category.getName()<i
									class="fa fa-angle-down"></i></a>
								<ul role="menu" class="sub-menu">
									@defining(productCategories.get(category.getNumberRow())) { cP=> 
									@for(cp <- cP){
									<li><a
										href="@routes.HomeController.categoryProduct(category.getId(), cp.getId())">@cp.getName()</a></li>
									} }
								</ul> }
						</ul>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="search_box pull-right">
						<form action="@routes.SearchController.SearchForm()" method="POST">
							<input type="text" name="key" required placeholder="Search"/>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/header-bottom-->
</header>
<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3" style="margin-left:-50px";>
					<div class="left-sidebar">					
						<div class="brands_products"><!--brands_products-->
							<h2>Prices</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a style="float: left" href="@routes.SearchController.Search(1, "1")"> <span class="pull-right"></span>nhỏ hơn 5 triệu</a></li>
									<li><a style="float: left" href="@routes.SearchController.Search(1, "2")"> <span class="pull-right"></span>5 triệu - 8 triệu</a></li>
									<li><a style="float: left" href="@routes.SearchController.Search(1, "3")"> <span class="pull-right"></span>8 triệu - 12 triệu</a></li>
									<li><a style="float: left" href="@routes.SearchController.Search(1, "4")"> <span class="pull-right"></span>lớn hơn 12 triệu</a></li>
									
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<div class="colors_products"><!--brands_products-->
							<h2>Color</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a style="float: left" href="@routes.SearchController.Search(2, "Y")"> <span class="pull-right"></span>Yelow</a></li>
									<li><a style="float: left" href="@routes.SearchController.Search(2, "W")"> <span class="pull-right"></span>White</a></li>
									<li><a style="float: left" href="@routes.SearchController.Search(2, "B")"> <span class="pull-right"></span>Black</a></li>
									<li><a style="float: left" href="@routes.SearchController.Search(2, "P")"> <span class="pull-right"></span>Pink</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<div class="shipping text-center"><!--shipping-->
							<img src=@routes.Assets.versioned("images/home/shipping.jpg") alt="" />
						</div><!--/shipping-->
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src=@routes.Assets.versioned(product.getImage()) alt="" />
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">
								
								  

								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src=@routes.Assets.versioned("images/product-details/new.jpg") class="newarrival" alt="" />
								<h2>@product.getName()</h2>
								<p>Web ID: @product.getId()</p>
								<img src=@routes.Assets.versioned("images/product-details/rating.png") alt="" />
								<span>
									<span>@product.priceToString() vnd</span>
									<a href="@routes.ProductController.cart(product.getId())"><button type="button" class="btn btn-fefault cart" >
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button></a>
									
								</span>
								<p><b>Availability:</b> In Stock</p>
								<p><b>Condition:</b> New</p>
								
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#details" data-toggle="tab">Cau Hinh</a></li>
								<li><a href="#companyprofile" data-toggle="tab">Hinh Anh</a></li>
								<li ><a href="#reviews" data-toggle="tab">Qua Tang</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="details" >
								<table>
								    <tbody>
								    @for(infor <- infors){
								    	<tr>
									      	<td width="200px" style="margin-top:10px"> <b>@infor.getName()</b></td>
									      	<td>@infor.getValue()</td>
								      	</tr>
								    }
								      
								    </tbody>
								  </table>
							</div>
							
							<div class="tab-pane fade" id="companyprofile" >
								<div style={overflow: auto;}>
								<section id="slider_detail"><!--slider-->
									<div class="row">
										<div class="col-sm-12" >
											<div id="slider-carousel"  class="carousel slide" data-ride="carousel">
												<ol class="carousel-indicators">
													<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
													<li data-target="#slider-carousel" data-slide-to="1"></li>
													<li data-target="#slider-carousel" data-slide-to="2"></li>
												</ol>
												
												<div class="carousel-inner" style={margin-left:100px}>
												@for(image <- images){
													@if(image.getTag() == 1){
													<div class="item active">
														<div class="col-sm-6">
															<img src=@routes.Assets.versioned(image.getPath()) class="girl img-responsive" alt="" />
															
														</div>
													</div>
													}else{
													<div class="item">
														<div class="col-sm-6">
															<img src=@routes.Assets.versioned(image.getPath()) class="girl img-responsive" alt="" />
															
														</div>
													</div>
													}
												}
												</div>
												
												<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
													<i class="fa fa-angle-left"></i>
												</a>
												<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
											
										</div>
									</div>
								</section><!--/slider-->
								</div>
							</div>
							<div class="tab-pane fade active in" id="reviews" >
								
							</div>
							
						</div>
					</div><!--/category-tab-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
							@for(show <- shows){
								@if(show.getTag() == 1){
								<div class="item active">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src=@routes.Assets.versioned(show.getProduct1().getImage()) alt="" />
													<h2>@show.getProduct1().priceToString() vnd</h2>
													<p>@show.getProduct1().getName()</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src=@routes.Assets.versioned(show.getProduct2().getImage()) alt="" />
													<h2>@show.getProduct2().priceToString() vnd</h2>
													<p>@show.getProduct2().getName()</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src=@routes.Assets.versioned(show.getProduct3().getImage()) alt="" />
													<h2>@show.getProduct3().priceToString() vnd</h2>
													<p>@show.getProduct3().getName()</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								}else{
								<div class="item">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src=@routes.Assets.versioned(show.getProduct1().getImage()) alt="" />
													<h2>@show.getProduct1().priceToString() vnd</h2>
													<p>@show.getProduct1().getName()</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src=@routes.Assets.versioned(show.getProduct2().getImage()) alt="" />
													<h2>@show.getProduct2().priceToString() vnd</h2>
													<p>@show.getProduct2().getName()</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src=@routes.Assets.versioned(show.getProduct3().getImage()) alt="" />
													<h2>@show.getProduct3().priceToString() vnd</h2>
													<p>@show.getProduct3().getName()</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								}
								
								
								
								
							}
								
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					<!-- ------------------------------- -->
					
					
				</div>
			</div>
		</div>
	</section>
}