@import PakageResult.User; 
@import models.CategoryEntity; 
@import models.CategoryProductEntity; 
@import java.util.List;
@import models.ProductEntity;
@import entities.ProductInforEntity;
@import models.ProductImageShow;
@import entities.ProductRelateEntity;
@import models.ProductRelateShow;
@(message: String, user: User, categories: List[CategoryEntity], productCategories:List[List[CategoryProductEntity]], product: ProductEntity, infors: List[ProductInforEntity], images: List[ProductImageShow], shows: List[ProductRelateShow])

@main("Product | Detail") {
<header id="header">
	<!--header-->
	<link rel="stylesheet" href="http://www.compareninja.com/template/skins/Sky/skin.css" type="text/css">
	<div class="header_top">
		<!--header_top-->
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="contactinfo">
						<ul class="nav nav-pills">
							<li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88
									821</a></li>
							<li><a href="#"><i class="fa fa-envelope"></i>
									websmartphone527@@domain.com</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="social-icons pull-right">
						<ul class="nav navbar-nav">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/header_top-->

	<div class="header-middle">
		<!--header-middle-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="logo pull-left">
						<a href="@routes.HomeController.index()"><img
							src="@routes.Assets.versioned("images/home/logo.png")" alt="" /></a>
					</div>
					<div class="btn-group pull-left">
						<div class="btn-group">
							<select style="margin-left: 10px; margin-top: 10px">
								<option value="volvo">USD</option>
								<option value="saab">VND</option>
							</select>

						</div>

					</div>
				</div>
				<div class="col-sm-8">
					<div class="shop-menu pull-right">
						<ul class="nav navbar-nav">

							<li><a href="@routes.ProductController.cart()"><i
									class="fa fa-shopping-cart"></i> Cart</a></li> @if(user.getId() == 0) {
							<li><a href="@routes.AccountController.login()"><i
									class="fa fa-lock"></i> Login</a></li> } else {

							<li><a href="@routes.AccountController.infor()"><i
									class="fa fa-user"></i> @user.getFirstName()</a></li>
							<li><a href="@routes.AccountController.login()"><i
									class="fa fa-lock"></i> LogOut</a></li> }

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/header-middle-->

	<div class="header-bottom">
		<!--header-bottom-->
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
					</div>
					<div class="mainmenu pull-left">
						<ul class="nav navbar-nav collapse navbar-collapse">
							<li><a href="@routes.HomeController.index()" class="active">Home</a></li>

							@for(category <- categories){
							<li class="dropdown"><a
								href="@routes.HomeController.category(category.getId())">@category.getName()<i
									class="fa fa-angle-down"></i></a>
								<ul role="menu" class="sub-menu">
									@defining(productCategories.get(category.getNumberRow())) { cP=> 
									@for(cp <- cP){
									<li><a
										href="@routes.HomeController.categoryProduct(category.getId(), cp.getId())">@cp.getName()</a></li>
									} }
								</ul> }
						</ul>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="search_box pull-right">
						<input type="text" placeholder="Search" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/header-bottom-->
</header>
<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3" style="margin-left:-50px";>
					<div class="left-sidebar">					
						<div class="brands_products"><!--brands_products-->
							<h2>Prices</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#"> <span class="pull-right"></span>1-100</a></li>
									<li><a href="#"> <span class="pull-right"></span>101-300</a></li>
									<li><a href="#"> <span class="pull-right"></span>301-500</a></li>
									<li><a href="#"> <span class="pull-right"></span>>500</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<div class="colors_products"><!--brands_products-->
							<h2>Color</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#"> <span class="pull-right"></span>Yelow</a></li>
									<li><a href="#"> <span class="pull-right"></span>White</a></li>
									<li><a href="#"> <span class="pull-right"></span>Black</a></li>
									<li><a href="#"> <span class="pull-right"></span>Pink</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<div class="price-range"><!--price-range-->
							<h2>Price Range</h2>
							<div class="well text-center">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
							</div>
						</div><!--/price-range-->
						
						<div class="shipping text-center"><!--shipping-->
							<img src=@routes.Assets.versioned("images/home/shipping.jpg") alt="" />
						</div><!--/shipping-->
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src=@routes.Assets.versioned(product.getImage()) alt="" />
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">
								
								  <!-- Wrapper for slides -->
								    <div class="carousel-inner">
										<div class="item active">
										  <a href=""><img src=@routes.Assets.versioned("images/product-details/similar1.jpg") alt=""></a>
										  <a href=""><img src=@routes.Assets.versioned("images/product-details/similar2.jpg") alt=""></a>
										  <a href=""><img src=@routes.Assets.versioned("images/product-details/similar3.jpg") alt=""></a>
										</div>
										<div class="item">
										  <a href=""><img src=@routes.Assets.versioned("images/product-details/similar1.jpg") alt=""></a>
										  <a href=""><img src=@routes.Assets.versioned("images/product-details/similar2.jpg") alt=""></a>
										  <a href=""><img src=@routes.Assets.versioned("images/product-details/similar3.jpg") alt=""></a>
										</div>
										<div class="item">
										  <a href=""><img src=@routes.Assets.versioned("images/product-details/similar1.jpg") alt=""></a>
										  <a href=""><img src=@routes.Assets.versioned("images/product-details/similar2.jpg") alt=""></a>
										  <a href=""><img src=@routes.Assets.versioned("images/product-details/similar3.jpg") alt=""></a>
										</div>
										
									</div>

								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src=@routes.Assets.versioned("images/product-details/new.jpg") class="newarrival" alt="" />
								<h2>@product.getName()</h2>
								<p>Web ID: @product.getId()</p>
								<img src=@routes.Assets.versioned("images/product-details/rating.png") alt="" />
								<span>
									<span>@product.priceToString() vnd</span>
									<a href="@routes.ProductController.cart(product.getId())"><button type="button" class="btn btn-fefault cart" >
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button></a>
									
								</span>
								<p><b>Availability:</b> In Stock</p>
								<p><b>Condition:</b> New</p>
								<p><b>Brand:</b> E-SHOPPER</p>
								<a href=""><img src=@routes.Assets.versioned("images/product-details/share.png") class="share img-responsive"  alt="" /></a>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#details" data-toggle="tab">Cau Hinh</a></li>
								<li><a href="#companyprofile" data-toggle="tab">Hinh Anh</a></li>
								<li ><a href="#reviews" data-toggle="tab">Qua Tang</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="details" >
								<table>
								    <tbody>
								    @for(infor <- infors){
								    	<tr>
									      	<td width="200px" style="margin-top:10px"> <b>@infor.getName()</b></td>
									      	<td>@infor.getValue()</td>
								      	</tr>
								    }
								      
								    </tbody>
								  </table>
							</div>
							
							<div class="tab-pane fade" id="companyprofile" >
								<div style={overflow: auto;}>
								<section id="slider_detail"><!--slider-->
									<div class="row">
										<div class="col-sm-12" >
											<div id="slider-carousel"  class="carousel slide" data-ride="carousel">
												<ol class="carousel-indicators">
													<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
													<li data-target="#slider-carousel" data-slide-to="1"></li>
													<li data-target="#slider-carousel" data-slide-to="2"></li>
												</ol>
												
												<div class="carousel-inner" style={margin-left:100px}>
												@for(image <- images){
													@if(image.getTag() == 1){
													<div class="item active">
														<div class="col-sm-6">
															<img src=@routes.Assets.versioned(image.getPath()) class="girl img-responsive" alt="" />
															
														</div>
													</div>
													}else{
													<div class="item">
														<div class="col-sm-6">
															<img src=@routes.Assets.versioned(image.getPath()) class="girl img-responsive" alt="" />
															
														</div>
													</div>
													}
												}
												</div>
												
												<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
													<i class="fa fa-angle-left"></i>
												</a>
												<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
											
										</div>
									</div>
								</section><!--/slider-->
								</div>
							</div>
							<div class="tab-pane fade active in" id="reviews" >
								
							</div>
							
						</div>
					</div><!--/category-tab-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
							@for(show <- shows){
								@if(show.getTag() == 1){
								<div class="item active">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src=@routes.Assets.versioned(show.getProduct1().getImage()) alt="" />
													<h2>@show.getProduct1().priceToString() vnd</h2>
													<p>@show.getProduct1().getName()</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src=@routes.Assets.versioned(show.getProduct2().getImage()) alt="" />
													<h2>@show.getProduct2().priceToString() vnd</h2>
													<p>@show.getProduct2().getName()</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src=@routes.Assets.versioned(show.getProduct3().getImage()) alt="" />
													<h2>@show.getProduct3().priceToString() vnd</h2>
													<p>@show.getProduct3().getName()</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								}else{
								<div class="item">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src=@routes.Assets.versioned(show.getProduct1().getImage()) alt="" />
													<h2>@show.getProduct1().priceToString() vnd</h2>
													<p>@show.getProduct1().getName()</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src=@routes.Assets.versioned(show.getProduct2().getImage()) alt="" />
													<h2>@show.getProduct2().priceToString() vnd</h2>
													<p>@show.getProduct2().getName()</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src=@routes.Assets.versioned(show.getProduct3().getImage()) alt="" />
													<h2>@show.getProduct3().priceToString() vnd</h2>
													<p>@show.getProduct3().getName()</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								}
								
								
								
								
							}
								
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					<!-- ------------------------------- -->
					<div class="response-area">
						<h2>3 Comments</h2>
						<ul class="media-list">
							<li class="media">
								
								<a class="pull-left" href="#">
									<img class="media-object" src=@routes.Assets.versioned("images/blog/man-two.jpg") alt="">
								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>Janis Gallagher</li>
										<li><i class="fa fa-clock-o"></i> 1:33 pm</li>
										<li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
									</ul>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									<a class="btn btn-primary" href=""><i class="fa fa-reply"></i>Replay</a>
								</div>
							</li>
							<li class="media second-media">
								<a class="pull-left" href="#">
									<img class="media-object" src=@routes.Assets.versioned("images/blog/man-three.jpg") alt="">
								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>Janis Gallagher</li>
										<li><i class="fa fa-clock-o"></i> 1:33 pm</li>
										<li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
									</ul>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									<a class="btn btn-primary" href=""><i class="fa fa-reply"></i>Replay</a>
								</div>
							</li>
							<li class="media">
								<a class="pull-left" href="#">
									<img class="media-object" src=@routes.Assets.versioned("images/blog/man-four.jpg") alt="">
								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>Janis Gallagher</li>
										<li><i class="fa fa-clock-o"></i> 1:33 pm</li>
										<li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
									</ul>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									<a class="btn btn-primary" href=""><i class="fa fa-reply"></i>Replay</a>
								</div>
							</li>
						</ul>					
					</div><!--/Response-area-->
					<div class="replay-box">
						<div class="row">
							<h2>Here to you post comment</h2>
							<div class="col-sm-8">
								<div class="text-area">
									<div class="blank-arrow">
										<label>Your Name</label>
									</div>
									<span>*</span>
									<textarea name="message" rows="11"></textarea>
									<a class="btn btn-primary" href="">post comment</a>
								</div>
							</div>
						</div>
					</div><!--/Repaly Box-->
				</div>
			</div>
		</div>
	</section>
}