
@(message: String)

@main("Product | Detail") {
<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3" style="margin-left:-50px";>
					<div class="left-sidebar">					
						<div class="brands_products"><!--brands_products-->
							<h2>Prices</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#"> <span class="pull-right"></span>1-100</a></li>
									<li><a href="#"> <span class="pull-right"></span>101-300</a></li>
									<li><a href="#"> <span class="pull-right"></span>301-500</a></li>
									<li><a href="#"> <span class="pull-right"></span>>500</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<div class="colors_products"><!--brands_products-->
							<h2>Color</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#"> <span class="pull-right"></span>Yelow</a></li>
									<li><a href="#"> <span class="pull-right"></span>White</a></li>
									<li><a href="#"> <span class="pull-right"></span>Black</a></li>
									<li><a href="#"> <span class="pull-right"></span>Pink</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<div class="price-range"><!--price-range-->
							<h2>Price Range</h2>
							<div class="well text-center">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
							</div>
						</div><!--/price-range-->
						
						<div class="shipping text-center"><!--shipping-->
							<img src=@routes.Assets.versioned("images/home/shipping.jpg") alt="" />
						</div><!--/shipping-->
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src=@routes.Assets.versioned("images/product-details/1.jpg") alt="" />
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">
								
								  <!-- Wrapper for slides -->
								    <div class="carousel-inner">
										<div class="item active">
										  <a href=""><img src=@routes.Assets.versioned("images/product-details/similar1.jpg") alt=""></a>
										  <a href=""><img src=@routes.Assets.versioned("images/product-details/similar2.jpg") alt=""></a>
										  <a href=""><img src=@routes.Assets.versioned("images/product-details/similar3.jpg") alt=""></a>
										</div>
										<div class="item">
										  <a href=""><img src=@routes.Assets.versioned("images/product-details/similar1.jpg") alt=""></a>
										  <a href=""><img src=@routes.Assets.versioned("images/product-details/similar2.jpg") alt=""></a>
										  <a href=""><img src=@routes.Assets.versioned("images/product-details/similar3.jpg") alt=""></a>
										</div>
										<div class="item">
										  <a href=""><img src=@routes.Assets.versioned("images/product-details/similar1.jpg") alt=""></a>
										  <a href=""><img src=@routes.Assets.versioned("images/product-details/similar2.jpg") alt=""></a>
										  <a href=""><img src=@routes.Assets.versioned("images/product-details/similar3.jpg") alt=""></a>
										</div>
										
									</div>

								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src=@routes.Assets.versioned("images/product-details/new.jpg") class="newarrival" alt="" />
								<h2>Iphone 6s 16GB</h2>
								<p>Web ID: 1089772</p>
								<img src=@routes.Assets.versioned("images/product-details/rating.png") alt="" />
								<span>
									<span>US $59</span>
									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
								</span>
								<p><b>Availability:</b> In Stock</p>
								<p><b>Condition:</b> New</p>
								<p><b>Brand:</b> E-SHOPPER</p>
								<a href=""><img src=@routes.Assets.versioned("images/product-details/share.png") class="share img-responsive"  alt="" /></a>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li><a href="#details" data-toggle="tab">Cấu Hình</a></li>
								<li><a href="#companyprofile" data-toggle="tab">Điểm Nổi Bật</a></li>
								<li class="active"><a href="#reviews" data-toggle="tab">Quà Tặng (5)</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade" id="details" >
								<table>
								    <tbody>
								      <tr>
								      	<td width="200px" margin-top="10px"> <b>Màn hình</b>:</td>
								      	<td>LED-backlit IPS LCD, 4.7", Retina HD</td>
								      </tr>
								      <tr >
								      	<td margin-top="10px"><b>Hệ điều hành:</b></td>
								      	<td>iOS 9</td>
								      </tr>
								      <tr>
								      	<td><b>Camera sau:</b></td>
								      	<td>12MP</td>
								      </tr>
								      <tr>
								      	<td><b>Camera trước</b></td>
								      	<td>5MP</td>
								      </tr>
								      <tr>
								      	<td><b>CPU:</b></td>
								      	<td>Apple A9 2 nhân 64-bit, 1.8 GHz</td>
								      </tr>
								      <tr>
								      	<td><b>RAM:</b></td>
								      	<td>2GB</td>
								      </tr>
								    </tbody>
								  </table>
							</div>
							
							<div class="tab-pane fade" id="companyprofile" >
								<div style={overflow: auto;}>
								<section id="slider_detail"><!--slider-->
									<div class="row">
										<div class="col-sm-12" >
											<div id="slider-carousel"  class="carousel slide" data-ride="carousel">
												<ol class="carousel-indicators">
													<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
													<li data-target="#slider-carousel" data-slide-to="1"></li>
													<li data-target="#slider-carousel" data-slide-to="2"></li>
												</ol>
												
												<div class="carousel-inner" style={margin-left:100px}>
													<div class="item active">
														<div class="col-sm-6" >
															<h1><span>E</span>-SHOPPER</h1>
															<h2>Free E-Commerce Template</h2>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
															
														</div>
														<div class="col-sm-6">
															<img src=@routes.Assets.versioned("images/home/girl1.jpg") class="girl img-responsive" alt="" />
															<img src=@routes.Assets.versioned("images/home/pricing.png")  class="pricing" alt="" />
														</div>
													</div>
													<div class="item">
														<div class="col-sm-6" >
															<h1><span>E</span>-SHOPPER</h1>
															<h2>100% Responsive Design</h2>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
															
														</div>
														<div class="col-sm-6">
															<img src=@routes.Assets.versioned("images/home/girl2.jpg") class="girl img-responsive" alt="" />
															<img src=@routes.Assets.versioned("images/home/pricing.png")  class="pricing" alt="" />
														</div>
													</div>
													
													<div class="item">
														<div class="col-sm-6" >
															<h1><span>E</span>-SHOPPER</h1>
															<h2>Free Ecommerce Template</h2>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
															
														</div>
														<div class="col-sm-6">
															<img src=@routes.Assets.versioned("images/home/girl3.jpg") class="girl img-responsive" alt="" />
															<img src=@routes.Assets.versioned("images/home/pricing.png") class="pricing" alt="" />
														</div>
													</div>
													
												</div>
												
												<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
													<i class="fa fa-angle-left"></i>
												</a>
												<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
											
										</div>
									</div>
								</section><!--/slider-->
								</div>
							</div>
							<div class="tab-pane fade active in" id="reviews" >
								
							</div>
							
						</div>
					</div><!--/category-tab-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src=@routes.Assets.versioned("images/home/recommend1.jpg") alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src=@routes.Assets.versioned("images/home/recommend2.jpg") alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src=@routes.Assets.versioned("images/home/recommend3.jpg") alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src=@routes.Assets.versioned("images/home/recommend1.jpg") alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src=@routes.Assets.versioned("images/home/recommend2.jpg") alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src=@routes.Assets.versioned("images/home/recommend3.jpg") alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					<!-- ------------------------------- -->
					<div class="response-area">
						<h2>3 Comments</h2>
						<ul class="media-list">
							<li class="media">
								
								<a class="pull-left" href="#">
									<img class="media-object" src=@routes.Assets.versioned("images/blog/man-two.jpg") alt="">
								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>Janis Gallagher</li>
										<li><i class="fa fa-clock-o"></i> 1:33 pm</li>
										<li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
									</ul>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									<a class="btn btn-primary" href=""><i class="fa fa-reply"></i>Replay</a>
								</div>
							</li>
							<li class="media second-media">
								<a class="pull-left" href="#">
									<img class="media-object" src=@routes.Assets.versioned("images/blog/man-three.jpg") alt="">
								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>Janis Gallagher</li>
										<li><i class="fa fa-clock-o"></i> 1:33 pm</li>
										<li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
									</ul>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									<a class="btn btn-primary" href=""><i class="fa fa-reply"></i>Replay</a>
								</div>
							</li>
							<li class="media">
								<a class="pull-left" href="#">
									<img class="media-object" src=@routes.Assets.versioned("images/blog/man-four.jpg") alt="">
								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>Janis Gallagher</li>
										<li><i class="fa fa-clock-o"></i> 1:33 pm</li>
										<li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
									</ul>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									<a class="btn btn-primary" href=""><i class="fa fa-reply"></i>Replay</a>
								</div>
							</li>
						</ul>					
					</div><!--/Response-area-->
					<div class="replay-box">
						<div class="row">
							<h2>Here to you post comment</h2>
							<div class="col-sm-8">
								<div class="text-area">
									<div class="blank-arrow">
										<label>Your Name</label>
									</div>
									<span>*</span>
									<textarea name="message" rows="11"></textarea>
									<a class="btn btn-primary" href="">post comment</a>
								</div>
							</div>
						</div>
					</div><!--/Repaly Box-->
				</div>
			</div>
		</div>
	</section>
}