@(message: String)

@main("Login") {	
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form" ><!--login form-->
						<h2>Login to your account</h2>
						<form action="@routes.AccountController.loginSubmit()" method="post">
							<input type="email" name="email" placeholder="Email Address" required>
							<input type="password" name="password" placeholder="Password" minlength="6" required>
							<span>
								<input type="checkbox" class="checkbox"> 
								Keep me signed in </br>
							</span>
							<a href="#">Forgot Password</a>
							<button id="login_submit"  type="submit" class="btn btn-default" >Login</button>
							
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">OR</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>New User Signup!</h2>
						<form action="@routes.AccountController.registerSubmit" method="post">
							<input type="email" name="email" placeholder="Email Address" required>
							<input type="password" name="password" placeholder="Password" minlength="6" required>
							<input type="password" placeholder="Password Again" minlength="6" required oninput="check(this)">
							<input type="text" name="firstName" placeholder="First Name" required>
							<input type="text" name="lastName" placeholder="Last Name" required>
							<select name="gender" required>
							  <option value=""> ---Gender---</option>
							  <option value="1">Men</option>
							  <option value="0">Women</option>
							</select>
							<button type="submit" class="btn btn-default">Signup</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
	<script language='javascript' type='text/javascript'>
	    function check(input) {
	        if (input.value != document.getElementById('password').value) {
	            input.setCustomValidity('Password Must be Matching.');
	        } else {
	            // input is valid -- reset the error message
	            input.setCustomValidity('');
	        }
	    }
	</script>	
}
