
@(login: String, register: String)

@main("Login") {
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> websmartphone527@@domain.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="@routes.Assets.versioned("images/home/logo.png")" alt="" /></a>
						</div>
						<div  class="btn-group pull-left">
							<div class="btn-group">
								<select style="margin-left:10px; margin-top:10px">
								  <option value="volvo">USD</option>
								  <option value="saab">VND</option>
								</select>
								
							</div>
							
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
								<li><a href="@routes.AccountController.login()"><i class="fa fa-lock"></i> Login</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="index.html" class="active">Home</a></li>
								<li class="dropdown"><a href="#">SmartPhone<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html">APPLE</a></li>
										<li><a href="product-details.html">SAMSUNG</a></li> 
										<li><a href="checkout.html">SONY</a></li> 
										<li><a href="cart.html">OPPO</a></li>
                                    </ul>
                                </li> 
                                <li class="dropdown"><a href="#">Latop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html">DELL</a></li>
										<li><a href="product-details.html">SONY</a></li> 
										<li><a href="checkout.html">HP</a></li> 
										<li><a href="cart.html">ACER</a></li>
                                    </ul>
                                </li> 
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
		</header><!--/header-->	
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form" ><!--login form-->
						@if(login.isEmpty()) {
							} else {
								
								<p>Login Result:<br>@login</p>
							}
						<h2>Login to your account</h2>
						<form action="@routes.AccountController.loginSubmit()" method="post">
							<input type="email" name="email" placeholder="Email Address" required>
							<input type="password" name="password" placeholder="Password" minlength="6" required>
							<span>
								<input type="checkbox" class="checkbox"> 
								Keep me signed in </br>
							</span>
							<a href="#">Forgot Password</a>
							<button id="login_submit"  type="submit" class="btn btn-default" >Login</button>
							
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">OR</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						@if(register.isEmpty()) {
						} else {
							
							<p>Register Result:<br>@register</p>
						}
						
						<h2>New User Signup!</h2>
						<form action="@routes.AccountController.registerSubmit" method="post">
							<input type="email" name="email" placeholder="Email Address" required>
							<input type="password" name="password" placeholder="Password" minlength="6" required>
							<input type="password" placeholder="Password Again" minlength="6" required oninput="check(this)">
							<input type="text" name="firstName" placeholder="First Name" required>
							<input type="text" name="lastName" placeholder="Last Name" required>
							<select name="gender" required>
							  <option value=""> ---Gender---</option>
							  <option value="1">Men</option>
							  <option value="0">Women</option>
							</select>
							<button type="submit" class="btn btn-default">Signup</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
	<script language='javascript' type='text/javascript'>
	    function check(input) {
	        if (input.value != document.getElementById('password').value) {
	            input.setCustomValidity('Password Must be Matching.');
	        } else {
	            // input is valid -- reset the error message
	            input.setCustomValidity('');
	        }
	    }
	</script>	
}
